## 0.3 Task 1: Analyze a function

In [1]:
#1: making a function using def and naming it total_sales after the name () is used and after : is used to get intendation
def total_sales():
    #2:Returning any value or variable when function is called
    return

## Task 2: Add a parameter and calculations to the function

In [4]:
def total_sales(n):
#2:making the value to return paramater*7.99 let it is price per ticlet
    return n*7.99
# 2b: Call the function
total_sales(55)
#so 55 tickets were sold

439.45

### Task 3: Create a function that accepts two values

In [5]:
#1:Making function to accept 2 parameter price and number of tickets
def total_sales(p,n):#p is price and n is number
    return p*n
total_sales(15.99,1001)

16005.99

## Task 4: Test the function with different values

In [10]:
print(total_sales(15,100))
total_sales(44,100)

1500

4400

In [11]:
total_sales(11,44)

484

In [12]:
total_sales(100000000000,100)

10000000000000